# This contains the env variables for using the postgres daatabase
# run via a docker container
# Just copy this file and name it `.env` then run the pnpm script
# `db:dev` to start the database

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

DATABASE_PRISMA_URL="postgresql://user:password@0.0.0.0:5432/db?schema=public"
DATABASE_URL_NON_POOLING="postgresql://user:password@0.0.0.0:5432/db?schema=public"


NEXTAUTH_URL="http://localhost:3000"

RESEND_API_KEY=___ # Add API key from "resend" email service

URL="http://localhost:3000"